[user]
	email = priyak1991dey@gmail.com
	name  = Priyak Dey
[alias]
        co = checkout
        st = status
        l  = log --graph --all --decorate --pretty=fuller --abbrev-commit
        lg = log --graph --oneline --abbrev-commit -n 5
        branches = branch -a
        remotes = remote -v
[core]
	editor = nvim
